.base-page-wrapper {
  height: 100%;
}

.header-bar {
  display: flex;
  width: 100%;
  height: 8%;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  padding: 8px 0;
}

.dropdown {
  margin: 0 8px;
}

.datepicker-position {
  margin-right: 16px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.custom-date-picker-styles {
  width: 100px;
  height: 32px;
  text-align: center;
  box-sizing: border-box;
  color: white;
  border: 1px solid #0f75cd;
  background-color: #0f6cbf;
  border-radius: 2px;
}

.custom-date-picker-styles:hover {
  cursor: pointer;
  background-color: #0f75cd;
}

.osp-button {
  width: 80px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid #0f75cd;
  background-color: #0f6cbf;
  color: white;
  border-radius: 2px;
  transition: background-color 0.15s ease-in-out, outline 0.05s ease-out;
  box-shadow: 0 0 2px 0 black;
}

.osp-button:hover {
  cursor: pointer;
  background-color: #0f75cd;
}

.osp-button:active {
  outline: 1px solid #0f75cd;
}

.list-wrap {
  list-style-type: none;
  position: absolute;
  width: 80px;
  color: white;
  background-color: #0f6cbf;
  box-sizing: border-box;
  padding: 0;
  margin-top: 0px;
}

.list-wrap > li {
  box-sizing: border-box;
  border-bottom: 1px solid #002748;
  padding: 0 4px;
}

.list-wrap > li:first-child {
  border-top: 1px solid #002748;
}

.list-wrap > li:last-child {
  border-bottom: 1px solid #002748;
}

.list-wrap > li:hover {
  cursor: pointer;
  background-color: #0f8eff;
}

.content-page {
  display: flex;
  height: 92%;
  width: 100vw;
}

.center-bar {
  width: 5%;
  height: 100%;
  box-sizing: border-box;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: lightgrey;
  box-shadow: inset 0 0 4px 0 black;
}

.side-content-wrap {
  width: 47.5%;
  height: 100%;
}

.modal-btn {
  margin-left: auto;
  width: 200px;
  right: 1rem;
  bottom: 1rem;
}

.form-wrap {
  width: 100%;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.grade-input-wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-input-wrap {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.modal-field {
  width: 150px;
  display: flex;
  flex-direction: column;
}

.modal-dropdown-wrap {
  margin: 0;
  width: 100%;
}

.modal-dropdown-btn {
  width: 100%;
}

.modal-list-wrap {
  list-style-type: none;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 0;
  text-align: center;
  margin-top: 4px;
}

.modal-list-wrap > li {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 0 4px;
}

.modal-list-wrap > li:hover {
  cursor: pointer;
  box-shadow: inset 0 0 4px grey;
}

.modal-list-wrap > li:active {
  cursor: pointer;
  box-shadow: inset 0 0 4px black;
}
